{% extends "admin/edit_inline/tabular.html" %}

  <!-- {% block extra %}
  {% if inline_admin_formset.formset.can_delete %}<th>Delete?&nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" class="selectall_checkbox"/></th>{% endif %}

  <script type="text/javascript">
      $('.selectall_checkbox').click(function(e) {
          $(e.target).closest('table').find(':checkbox').filter(function () { return /DELETE/.test(this.name); }).each(function () {    
            this.checked = e.target.checked;
          });
      });
      </script>

    {% endblock %} -->