:root {
    /* --cambridge-blue: ‎#002147; */
    --cambridge-blue:rgb(163, 193, 173);
    --inverted:rgb(0, 117, 165);

    /* --lighter-1: rgb(57, 77, 120);
    --lighter-3: rgb(229, 240, 255); */
    
    --bg-1:var(--cambridge-blue);
    --bg-2: rgb(217, 237, 223);
    --bg-3: rgb(245, 255, 248);
    --bg-4: #ffffff;

    --fg-1: rgb(60, 60, 60);
    --fg-2: rgb(100,100,100);
    
    --fg-primary: #000;
    --fg-3: var(--fg-primary);

    --bg-primary: var(--bg-4);
    --bg-secondary: var(--bg-2);

    --fg-alternate: var(--fg-primary);
    --fg-secondary: var(--fg-1);

    --fg-nav: #000;

    --top-nav: var(--cambridge-blue);
    --nav-color: var(--bg-2); /* #212529;*/
    --nav-color-selected: var(--nav-color); /* Slightly lighter than background */
    --bg-color: var(--bg-primary); /* #fff;*/

    --main-text: var(--fg-primary); /* #000;*/

    --nav-active: var(--fg-nav); /*  #fff;*/
    --nav-text-unselected: rgba(0,0,0, 0.5);
    --nav-text-selected: rgba(0,0,0, 0.75);
    --form-label: #495057;
    --form-label-2: #777;
    --footer-bg: var(--bg-3);
    
    --scroll-to-top: var(--fg-1); /* #fff;*/
    --scroll-to-top-bg:  rgba(52, 58, 64, 0.5);
    --scroll-to-top-hover: #343a40;

    --buy:thistle;
    --sell: wheat;
    --cancel: mistyrose;
    --accept: lightgreen;
    --action-in-progres: papayawhip;
    --not-found: grey;
    --error:#B00020;

    --search-pred-border: #ccc;
    --search-pred-border-2:rgba(0, 0, 0, 0.2);
    --suggestion-bg: #0097cf;

    --table-fixed-header: gainsboro;
    --table-fixed-head-text: var(--fg-nav);

    --menu-selected: var(--bg-2); /* lightyellow;*/

    --stat: var(--cambridge-blue);
    --stat-desc: grey;

    --link: var(--inverted);
    --link-active: rgb(200, 123, 110); /* rgb(0, 97, 138);*/

    --border: rgba(0,0,0,.25);
    --internal-border: var(--bg-1);
}


