
.tradeLabel {
    float:left;
    width:calc(100% - 50px);
}

.tradeActions {
    float:right;
    width:50px;
}

.active_trades {
    min-width: 800px;
}
ul.tradeList {
    list-style: none;
}

tr.buy {   
    /* color: black; */
    background-color: thistle;
}

tr.sell {
    /* color: gray; */
    background-color: wheat;
}

tr.cancelled, tr.rejected {
    background-color: mistyrose;
}

tr.accepted {
    background-color: lightgreen;
}

tr.pending {
    /* background-color: white; */
}

tr.tradeHeader {
    font-size: large;
    font-weight: bold;
}

tr.noTradesFound {
    color: grey;
}

.nav-portfolio {
    text-align: center;
    width: calc(100% - 300px);
    color: white;
    font-size: large;
}

.searchError{
    color:red;
    /* padding-left:10px; */
    /* vertical-align: 10px; */
}

.tt-menu {
    width: 422px;
    margin: 12px 0;
    padding: 8px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
       -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
            box-shadow: 0 5px 10px rgba(0,0,0,.2);
  }
  
  .tt-suggestion {
    padding: 3px 20px;
    font-size: 18px;
    line-height: 24px;
  }
  
  .tt-suggestion:hover {
    cursor: pointer;
    color: #fff;
    background-color: #0097cf;
  }
  
  .tt-suggestion.tt-cursor {
    color: #fff;
    background-color: #0097cf;
  
  }
  
  .tt-suggestion p {
    margin: 0;
  }
  

  

  /* .right-scroll-box {
    overflow-y: scroll;
} */

.graph, .right-scroll-box {
    height:400px;
}

/* .tableFixHead          { overflow-y: auto; height: 100px; } */
.tableFixHead thead th { position: sticky; top: 0; background-color:gainsboro; padding: 10; margin:0; border-top:0; }

ul.eventList, ul.eventList ul {
    list-style: none;
    padding:5px;
}

ul.eventList li {
    font-weight: bold;
}

ul.raceList {
    margin-left:0px;
}

ul.raceList li {
    border-radius:5px;
    padding:5px;
    margin-top:5px;
}
ul.raceList li:hover, ul.raceList li.selected {
    /* background-color: thistle; */
    background-color: lightyellow;
}


.deletedTrade {
    background-color: mistyrose;
}

.actionedTrade {
    background-color: papayawhip;
}

.badgeContainer {
    font-size: larger;
}



.statLabel {
    color: darkblue;
    font-size: 2em;
    width:100%;

    text-align: center;
}

.statDesc {
    font-size: small;
    color: gray;
    
    width:100%;
    text-align: center;
}

.statValue {
    /* font-size: x-large; */
    font-size: 4em;
    width:100%;
    text-align: center;
}

.statSmallValues {
    font-size: 1em;
    width:100%;
    text-align: left;

}

.statContainer {
    width:100%;
    border: 2px solid darkblue;
    border-radius: 10px;
    margin-bottom:10px;
    padding:2px;
}