html, body {
    background-color: var(--bg-color);
    color: var(--main-text);
}

h1, h2, h3, h4, h5, h6, p {
    color: var(--main-text);
}

.tradeLabel {
    float:left;
    width:calc(100% - 50px);
}

.tradeActions {
    float:right;
    width:50px;
}

.active_trades {
    min-width: 800px;
}
ul.tradeList {
    list-style: none;
}

tr.buy {   
    /* color: black; */
    background-color: var(--buy);
}

tr.sell {
    /* color: gray; */
    background-color: var(--sell);
}

tr.cancelled, tr.rejected {
    background-color: var(--cancel);
}

tr.accepted {
    background-color: var(--accept);
}

tr.pending {
    /* background-color: white; */
}

tr.tradeHeader {
    font-size: large;
    font-weight: bold;
}

tr.noTradesFound {
    color: var(--not-found);
}

.nav-portfolio {
    text-align: center;
    width: calc(100% - 300px);
    color: var(--nav-active);
    font-size: large;
}

.searchError{
    color:var(--error);
    /* padding-left:10px; */
    /* vertical-align: 10px; */
}

.tt-menu {
    width: 422px;
    margin: 12px 0;
    padding: 8px 0;
    background-color:var(--bg-color);
    border: 1px solid var(--search-pred-border);
    border: 1px solid var(--search-pred-border-2);
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
    -webkit-box-shadow: 0 5px 10px var(--search-pred-border-2);
       -moz-box-shadow: 0 5px 10px var(--search-pred-border-2);
            box-shadow: 0 5px 10px var(--search-pred-border-2);
  }
  
  .tt-suggestion {
    padding: 3px 20px;
    font-size: 18px;
    line-height: 24px;
  }
  
  .tt-suggestion:hover {
    cursor: pointer;
    color: var(--nav-active);
    background-color: var(--suggestion-bg);
  }
  
  .tt-suggestion.tt-cursor {
    color: var(--nav-active);
    background-color: var(--suggestion-bg);
  
  }
  
  .tt-suggestion p {
    margin: 0;
  }
  

  

  /* .right-scroll-box {
    overflow-y: scroll;
} */

 .right-scroll-box {
    height:300px;
}

div.graph {
    /* height:300px; */
    background-color: var(--bg-4);
    border-radius: 10px;
    padding:10px;
}

/* .tableFixHead          { overflow-y: auto; height: 100px; } */
.tableFixHead thead th { position: sticky; top: 0;
     background-color:var(--table-fixed-header);
      padding: 10; margin:0; border-top:0; }

ul.eventList, ul.eventList ul {
    list-style: none;
    padding:5px;
}

ul.eventList li {
    font-weight: bold;
}

ul.raceList {
    margin-left:0px;
}

ul.raceList li {
    border-radius:5px;
    padding:5px;
    margin-top:5px;
}
ul.raceList li:hover, ul.raceList li.selected {
    /* background-color: thistle; */
    background-color: var(--menu-selected);
    color: var(--link-active);
}

li.selected a {
    color: var(--link-active);
}


.deletedTrade {
    background-color: var(--cancel);
}

.actionedTrade {
    background-color: var(--action-in-progress);
}

.badgeContainer {
    font-size: larger;
}



.statLabel {
    color: var(--stat);
    font-size: 2em;
    width:100%;

    text-align: center;
}

.statDesc {
    font-size: small;
    color:var(--stat-desc);
    
    width:100%;
    text-align: center;
}

.statValue {
    /* font-size: x-large; */
    font-size: 4em;
    width:100%;
    text-align: center;
}

.statSmallValues {
    font-size: 1em;
    width:100%;
    text-align: left;

}

.statContainer {
    width:100%;
    border: 2px solid var(--stat);
    border-radius: 10px;
    margin-bottom:10px;
    padding:2px;
}

.card {
    margin-bottom: 15px;
    border-color: var(--border);

    /* border-width: 2px; */
}

div.card-body, div.card {
    background-color: var(--bg-3);
}

input.form-control, select.form-control, select.custom-select {
    background-color: var(--bg-3);
    color: var(--fg-1);
}

input.form-control:focus, select.form-control:focus,  select.custom-select:focus {
    background-color: var(--bg-4);
    color: var(--fg-1);
}

a {
    color: var(--link);
}
a:hover, a:active {
    text-decoration: none;
    color: var(--link-active);
}

ul.errorlist {
    color: var(--error);
    list-style: none;
    width:100%;
    background-color: var(--bg-3);
    border-radius: 10px;
}

.formError {
    color: var(--error);
}

.formHelp {
    color: var(--fg-2); 
}

.formHelp ul {
    list-style: none;
}

div.dropdown-menu {
    background-color: var(--bg-3);
}

a.dropdown-item:hover {
    background-color: var(--bg-4);
    color: var(--fg-2);
}

thead {
    background-color: var(--bg-2);
}

.leftnav {
    border-right:1px solid var(--internal-border);
}

button.page-choice {
    margin-bottom:10px;
}

