html, body {
    background-color: var(--bg-color);
    color: var(--main-text);
}

h1, h2, h3, h4, h5, h6, p {
    color: var(--main-text);
}

.tradeLabel {
    float:left;
    width:calc(100% - 50px);
}

.tradeActions {
    float:right;
    width:50px;
}

.active_trades {
    min-width: 800px;
}
ul.tradeList {
    list-style: none;
}

tr.buy {   
    /* color: black; */
    background-color: var(--buy);
}

tr.sell {
    /* color: gray; */
    background-color: var(--sell);
}

tr.cancelled, tr.rejected {
    background-color: var(--cancel);
}

tr.accepted {
    background-color: var(--accept);
}

tr.pending {
    /* background-color: white; */
}

tr.tradeHeader {
    font-size: large;
    font-weight: bold;
}

tr.noTradesFound {
    color: var(--not-found);
}

.nav-portfolio {
    text-align: center;
    width: calc(100% - 300px);
    color: var(--nav-active);
    font-size: large;
}

@media (max-width:600px) {
    .nav-portfolio {
        right:0px;
        width:300px;
    }
}

.searchError{
    color:var(--error);
    /* padding-left:10px; */
    /* vertical-align: 10px; */
}

.tt-menu {
    width: 422px;
    margin: 12px 0;
    padding: 8px 0;
    background-color:var(--bg-color);
    border: 1px solid var(--search-pred-border);
    border: 1px solid var(--search-pred-border-2);
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
    -webkit-box-shadow: 0 5px 10px var(--search-pred-border-2);
       -moz-box-shadow: 0 5px 10px var(--search-pred-border-2);
            box-shadow: 0 5px 10px var(--search-pred-border-2);
  }
  
  .tt-suggestion {
    padding: 3px 20px;
    font-size: 18px;
    line-height: 24px;
  }
  
  .tt-suggestion:hover {
    cursor: pointer;
    color: var(--nav-active);
    background-color: var(--suggestion-bg);
  }
  
  .tt-suggestion.tt-cursor {
    color: var(--nav-active);
    background-color: var(--suggestion-bg);
  
  }
  
  .tt-suggestion p {
    margin: 0;
  }
  

  

 .right-scroll-box {
    height:300px;
}

div.graph {
    /* height:300px; */
    background-color: var(--bg-4);
    border-radius: 10px;
    padding:10px;
    min-height: 300px;
}

@media (min-width:800px) {
    div.graph {
        min-height:400px;
    }
}

.tableFixHead thead th { position: sticky; top: 0;
     background-color:var(--table-fixed-header);
      padding: 10; margin:0; border-top:0;
      
    }

thead, th {
    color: var(--table-fixed-head-text);
}

ul.eventList, ul.eventList ul {
    list-style: none;
    padding:5px;
}

ul.eventList li {
    font-weight: bold;
}

ul.raceList {
    margin-left:0px;
}

ul.raceList li {
    border-radius:5px;
    padding:5px;
    margin-top:5px;
}
ul.raceList li:hover, ul.raceList li.selected {
    /* background-color: thistle; */
    background-color: var(--menu-selected);
    color: var(--link-active);
}

li.selected a {
    color: var(--link-active);
}


.deletedTrade {
    background-color: var(--cancel);
}

.actionedTrade {
    background-color: var(--action-in-progress);
}

.badgeContainer {
    font-size: larger;
}



.statLabel {
    color: var(--stat);
    font-size: 2em;
    width:100%;

    text-align: center;
}

.statDesc {
    font-size: small;
    color:var(--stat-desc);
    
    width:100%;
    text-align: center;
}

.statValue {
    /* font-size: x-large; */
    font-size: 4em;
    width:100%;
    text-align: center;
}

.statSmallValues {
    font-size: 1em;
    width:100%;
    text-align: left;

}

.statContainer {
    /* width:100%; */
    border: 2px solid var(--stat);
    border-radius: 10px;
    margin:5px;
    margin-bottom:10px;
    padding:2px;
    
}

.card {
    margin-bottom: 15px;
    border-color: var(--border);

    /* border-width: 2px; */
}

    /* div.page {
        width:300px;
    } */

div.card-body, div.card {
    background-color: var(--bg-3);
}

input.form-control, select.form-control, select.custom-select {
    background-color: var(--bg-4);
    color: var(--fg-1);
}

input.form-control:focus, select.form-control:focus,  select.custom-select:focus {
    background-color: var(--bg-4);
    color: var(--fg-1);
}

.form-control:disabled, .form-control[readonly] {
    background-color: var(--bg-2);
    color: var(--fg-2);
}

a {
    color: var(--link);
}
a:hover, a:active {
    text-decoration: none;
    color: var(--link-active);
}

ul.errorlist {
    color: var(--fg-1);
    list-style: none;
    /* width:100%; */
    /* background-color: var(--bg-3); */
    background-color: var(--cancel);
    border-radius: 10px;
    padding:10px;
    border: 1px solid var(--error);
}

.formError {
    color: var(--error);
}

.formHelp {
    color: var(--fg-2); 
}

.formHelp ul {
    list-style: none;
}

div.dropdown-menu {
    background-color: var(--bg-3);
    color: var(--fg-3);
}

div.dropdown-menu a {
    color: var(--fg-3);
}

a.dropdown-item:hover {
    background-color: var(--bg-4);
    color: var(--fg-2);
}

thead {
    background-color: var(--bg-2);
}

.leftnav {
    border-right:1px solid var(--internal-border);
}

button.page-choice {
    margin-bottom:10px;
}


button.predict-search {
    background-color: var(--bg-3);
    color: var(--fg-1);
}


/* Bids */

tr.accepted, input.accepted {
    background-color: var(--accept);
    color: var(--fg-alternate);
}

tr.rejected, input.rejected {
    background-color: var(--cancel);
    color: var(--fg-alternate);
}

.top-nav, .top-nav a {
    color: var(--fg-nav);
}

/* .dataTables_wrapper {
    overflow-x:auto;
} */

/* 
div.dataTables_wrapper div.row div.dataTables_filter {
    position: sticky;
    left: 0;
} */

#buyTable, #sellTable {
    overflow-x:auto;
}

textarea[data-asset="none"]:disabled {
    display:none;
}

textarea[data-asset="share"]:disabled {
    display:block;
    background-color: var(--accept);
}

textarea[data-asset="option"]:disabled, input[data-asset="future"]:disabled {
    background-color: var(--action-in-progres);
    display:block;
}

textarea[data-asset="swap"]:disabled {
    background-color: var(--stat);
    display:block;
}

textarea[data-asset="contract"]:disabled {
    background-color: var(--bg-2);
    display:block;
}

.calendar-addon {
    font-size:1.5em; padding-left:2px;
}

li.notificationUnseen {
    font-weight: bold;
    background-color: var(--bg-3);
}

ul.notifications, ul.notifications li {
    list-style: none;
    padding-left:5px;
    white-space:normal;
    max-width: 90vw;
    min-width: 50vw;

}
 ul.notifications li {
     padding-right:50px;
 }

li.notificationSeen {
    font-weight: normal;
    background-color: var(--bg-4);
}

i.seenNotification, i.dismissNotification {
    position: absolute;
}
i.seenNotification {
    right:22px;
}
i.dismissNotification {
    right:15px;
}

@media (max-width: 576px) {
    #notificationContent {
        right: -135px!important;
        max-width:100vw;
        margin-top:15px;
    }
    ul.notifications {
        
        max-width: 95vw;
        min-width: 95vw;
        padding-right:10px;
    }

    }