{% extends 'app/base.html' %}
{% load static %}

{% block title %}{{athlete.name }}{% endblock %}


{% block page_title %}{{athlete.name}} ({{athlete.club.name}})

{% if athlete.power_of_10 %}
<a href="{{athlete.power_of_10}}" target="_blank"><img src="{% static "img/p10logo.jpg" %}"
        style="width:62px; height:57px" alt="Power of 10" /></a>
{% endif %}
{% endblock %}

{% block search_area %}
<div class="col-sm-3">
    <div class="row">
        <div id="athleteNameError" class="searchError"></div>
    </div>
    <div class="row">
        <div class="input-group mb-3" id="athlete-search">
            <input type="text" class="form-control typeahead" id="athleteNameInput" placeholder="Athlete search"
                aria-label="Athlete name" aria-describedby="basic-addon2">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary predict-search" type="button"
                    onclick="athleteSearch()">Go</button>
            </div>

        </div>
    </div>


</div>
{%endblock%}
{% block content %}

<style id="datatables_crazyfix">
    .tab-content .tab-pane {
        visibility: hidden;
        display: block;
    }
    </style>

<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="pills-value-tab" data-toggle="pill" 
      href="#pills-value" role="tab" aria-controls="pills-value" aria-selected="true">
         Value</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="pills-active-tab" data-toggle="pill" 
      href="#pills-active" role="tab" aria-controls="pills-active" aria-selected="false">
          Active trades</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="pills-results-tab" data-toggle="pill" 
      href="#pills-results" role="tab" aria-controls="pills-results" aria-selected="false">
      Results and dividends</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-history-tab" data-toggle="pill" 
        href="#pills-history" role="tab" aria-controls="pills-history" aria-selected="false">
        Trade history</a>
      </li>
  </ul>
  <div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-value" role="tabpanel" aria-labelledby="pills-value-tab">
        <div class="card">
            <div class="card-body"  > <!--style="height: 500px;" -->

                <div class="row">
                    <div class="col-sm-10">
                <h2>Athlete value: {{value.current}}

                    <span data-toggle="tooltip" data-placement="left" title="Daily change">
                        {% if value.change == "NaN" %}
                        {% elif value.change < 0 %}
                        (<i class="fas fa-caret-down fa-fw" style="color: red;"></i> {{value.change}}%)
                        {% elif value.change > 0 %}
                        (<i class="fas fa-caret-up fa-fw" style="color: green;"></i> {{value.change}}%)
                        {% else %}
                        (<i class="fas fa-equals fa-fw" data-toggle="tooltip"></i>)
                        {% endif %}
                    </span>

                </h2>
            </div>
            <div class="col">
                {% include 'app/zoom.html' %}
            </div>
            </div>
                <div class="graph">
                    <canvas id="athleteValue"></canvas>
                </div>

            </div>
        </div>

    </div>
    <div class="tab-pane fade" id="pills-active" role="tabpanel" aria-labelledby="pills-active-tab">
        <div class="card">
            <div class="card-body">

                <!-- <h2 style="margin-bottom:-30px">Active trades</h2> -->
                <div> <!--style="overflow-y: auto;"-->
                    <table class="table" id="active_trades">
                        <thead>
                            <tr>
                                
                                <th scope="col">Volume</th>
                                <th scope="col">Price</th>
                                <th scope="col">Seller</th>
                                <th scope="col">Buyer</th>
                                <th scope="col">Initiated by</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>

                            <!-- <tr class="noTradesFound">
                                <td scope="col" colspan=6>No trades found</td>
                            </tr> -->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
    <div class="tab-pane fade" id="pills-results" role="tabpanel" aria-labelledby="pills-results-tab">
        <div class="card">
            <div class="card-body">

                <!-- <h2>Results and dividends</h2> -->
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Event</th>
                            <th scope="col">Race</th>
                            <th scope="col">Position</th>
                            <th scope="col">Dividend</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for r in results %}
                        <tr>
                            <td><a href="/races/{{r.race.id}}">{{r.race.event.name}} ({{r.race.event.date}})</a></td>
                            <td>{{r.race.name}}</td>
                            <td>{{r.position}}</td>
                            <td>{{r.dividend}}</td>
                        </tr>
                        {% endfor %}

                        {% if not results %}
                        <tr>
                            <td colspan=4>None found</td>
                        </tr>
                        {% endif %}
                    </tbody>
                </table>

            </div>
        </div>

    </div>
    <div class="tab-pane fade" id="pills-history" role="tabpanel" aria-labelledby="pills-history-tab">
        <div class="card">
            <div class="card-body">

                <!-- <h2>Trading history</h2> -->
                <div id="past_trades">
                    <table class="table" id="past_trades">
                        <thead>
                            <tr>
                                <th scope="col">Status</th>
                                <th scope="col">Commodity</th>
                                <th scope="col">Price</th>
                                <th scope="col">Seller</th>
                                <th scope="col">Buyer</th>
                                <th scope="col">Initiated by</th>
                                <th scope="col">Last updated</th>

                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
  </div>




<div class="row">
    <div class="col-sm-11">
        
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        
    </div>

</div>

<div class="row">
    <div class="col-sm">
        
    </div>
</div>

<div class="row">
    <div class="col-sm">
       
    </div>
</div>



{%endblock%}

{% block footer %}
<script type="text/javascript" src="{% static 'js/common.js' %}"></script>
<script type="text/javascript" src="{% static 'js/typeahead.js' %}"></script>
<script type="text/javascript" src="{% static 'js/trading.js' %}"></script>
<script>

    var chart=undefined;

    function addAthleteToGraph(athlete_id) {
        $.ajax({
            type: "GET",
            url: {% url 'retrieve_athlete_value' %},  // URL to your view that serves new info
            data: { "id": athlete_id }
            })
            .done(function (response) {
                // console.log(response);
                if (response.error) {
                    display_error(response.error);
                }
                var ctx = document.getElementById('athleteValue').getContext('2d');

                var trade_data_vals = [];
                response.trades.forEach(t => {
                    trade_data_vals.push({ x: new Date(t.updated), y: Number(t.price) / Number(t.asset.volume) });
                });

                trade_data_vals.push({ x: new Date(), y: trade_data_vals[trade_data_vals.length - 1].y })

                var trade_dataset = {
                    label: "Trading price per volume",
                    borderColor: "blue",
                    data: trade_data_vals,
                    fill: false,
                    lineTension: 0,
                };

                var data = { datasets: [trade_dataset] };

                var opts = defaultChartOptions("Value per volume");

                chart = new Chart(ctx, {
                    type: 'line',
                    data: data,
                    options: opts,
                });
            });
        }

    function reload_all_athlete_trades() {
        console.log("Reload active trades athlete page");
        reload_trades("active_trades", true, undefined, { "athlete": {{ athlete.id }}});

        reload_trades("past_trades", false, undefined, { "athlete": {{ athlete.id }}});

    }

    $(document).ready(function () {
        setupChartStyles();


        addAthleteToGraph({{ athlete.id }});
        reload_all_athlete_trades();


        populate_athlete_search();   

        $("#datatables_crazyfix").remove();

    });  // end onf document ready

    var athleteMapping = {};
    var athletes = [];

    function athleteSearch() {
        var name = $("#athleteNameInput").val();
        if (athletes.includes(name)) {
            window.location.href = '/athlete/' + athleteMapping[name];
        }
        else {
            $("#athleteNameError").html("Cannot find athlete");
        }
    }

    function populate_athlete_search() {
        $.ajax({
            type: "GET",
            url: '/get_athletes',  // URL to your view that serves new info
            data: {}
        })
            .done(function (response) {
                // console.log("Athletes:");
                // console.log(response);
                response.athletes.forEach(athlete => {
                    athleteMapping[athlete.name] = athlete.id;
                });

                athletes = Object.keys(athleteMapping);

                $('#athlete-search .typeahead').typeahead({
                    hint: true,
                    highlight: true,
                    minLength: 1
                },
                    {
                        name: 'athletes',
                        source: substringMatcher(athletes),
                    });

            });
    }

    $("#athleteNameInput").on('keypress', function (e) {
        if (e.which == 13) {
            athleteSearch();
        }
    });

    

</script>


// <script>
//     jQuery(function($){
//         $("#datatables_crazyfix").remove();
//     });
// </script>

{% endblock %}