{% extends 'app/base.html' %}
{% load static %}

{% block title %}Bank{% endblock %}


{% block page_title %}Bank{% endblock %}

{% block search_area %}

{%endblock%}
{% block content %}

<style id="datatables_crazyfix">
    .tab-content .tab-pane {
        visibility: hidden;
        display: block;
    }
</style>

<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="pills-transactions-tab" data-toggle="pill" href="#pills-transactions" role="tab"
            aria-controls="pills-transactions" aria-selected="true">
            Transactions</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-buy-tab" data-toggle="pill" href="#pills-buy" role="tab" aria-controls="pills-buy"
            aria-selected="false">
            Buy</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-loans-tab" data-toggle="pill" href="#pills-loans" role="tab"
            aria-controls="pills-loans" aria-selected="false">
            Loans</a>
    </li>

</ul>
<div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-transactions" role="tabpanel"
        aria-labelledby="pills-transactions-tab">

        <div class="card">
            <div class="card-body">


                <h2>Your transactions</h2>

                <table class="table" id="transactions">
                    <thead>
                        <tr>
                            <th scope="col">Time</th>
                            <th scope="col">Description</th>
                            <th scope="col">Type</th>
                            <th scope="col">In</th>
                            <th scope="col">Out</th>
                            <th scope="col">Balance</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for t in transactions %}
                        <tr>
                            <td>{{t.timestamp}}</td>
                            <td>{{t.description|safe}}</td>
                            <td>{{t.transaction_type}}</td>
                            <td>{{t.cash_in|floatformat:2}}</td>
                            <td>{{t.cash_out|floatformat:2}}</td>
                            <td>{{t.balance|floatformat:2}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>
    </div>
    <div class="tab-pane fade show" id="pills-buy" role="tabpanel" aria-labelledby="pills-buy-tab">
        <div class="card">
            <div class="card-body">


                <h2>Buy shares</h2>
                <p>Coming soon. The bank will sell any shares it has for the current market price + 5%</p>
            </div>
        </div>
    </div>
    <div class="tab-pane fade show" id="pills-loans" role="tabpanel" aria-labelledby="pills-loans-tab">
        <div class="card">
            <div class="card-body">

                <h2>Loans</h2>

                <form action="#" method="GET">
                    <div class="form-group row">
                        <label for="principal" class="col-sm-2 col-form-label">New loan</label>
                        <div class="col-sm-8 col-md-2">
                            <input type="number" step="0.01" class="form-control" id="principal">
                        </div>
                    </div>

                    <div class="form-group row">

                        <label class="col-sm-2 col-form-label" for="loan">Loan details</label>
                        <div class="col-sm-12 col-md-10">
                            <select class="custom-select mr-sm-2" id="loan">
                                {% for l in loan_offers %}
                                <option value="{{l.id}}">Interest rate: {{l.investor_interest_rate}}%,
                                    repayment interval [(days) hh:mm:ss]: {{l.repayment_interval}}</option>

                                {% endfor %}
                            </select>
                        </div>

                    </div>

                    <div class="form-group row">
                        <div class="col-sm-2">
                            <button type="submit" class="btn btn-primary" id="createLoan">Take out loan</button>
                        </div>
                    </div>

                </form>

                <h2>Your current loans</h2>
                <table class="table" id="loans">
                    <thead>
                        <tr>
                            <th scope="col">Lender</th>
                            <th scope="col">Balance</th>
                            <th scope="col">Interest rate (%)</th>
                            <th scope="col">Repayment interval</th>
                            <th scope="col">Repayment ammount</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- {% for l in loans %}
            <tr>
                <td>{{l.lender}}</td>
                <td>{{l.balance}}</td>
                <td>{{l.interest_rate}}</td>
                <td>{{l.repayment_interval}}</td>
            </tr>
            {% endfor %} -->
                    </tbody>
                </table>

            </div>
        </div>
    </div>

</div>






{%endblock%}

{% block footer %}
<script type="text/javascript" src="{% static 'js/common.js' %}"></script>

<script>
    $(document).ready(function () {
        $('#transactions').DataTable({
            paging: false,
            scrollx: true,
            order: [],
        });

        $("button#createLoan").click(create_loan);
        get_loans();

        //$("button.repay").click(function() {
        $(document).on("click", "button.repay", function () {
            var loan_id = $(this).attr("data-loan");
            var ammount = $("input.repay[data-loan=" + loan_id + "]").val();
            repay_loan(loan_id, ammount);
        });
    });


    function reload_loans(loans) {
        $("table#loans tbody tr").remove();

        loans.forEach(loan => {
            var interval = moment.duration(loan.repayment_interval);
            var s = String(interval.get('seconds')).padStart(2, '0');
            var days = String(interval.get('days'));
            var hours = String(interval.get('hours')).padStart(2, '0');
            var mins = String(interval.get('minutes')).padStart(2, '0');

            var formatted_time = days + " days, " + hours + ":" + mins + ":" + s;

            var row = "<tr>";
            row += "<td>" + loan.lender.name + "</td>";
            row += "<td>" + Number(loan.balance).toFixed(2) + "</td>";
            row += "<td>" + loan.interest_rate + "</td>";
            row += "<td>" + formatted_time + "</td>";
            row += "<td> ";
            row += "<div class='row'><input type='number' step='0.01' class='col-sm-8 form-control repay' data-loan='" + loan.id + "' placeholder='Repayment ammount' >";
            row += "<button class='btn btn-primary repay col-sm-auto' data-loan='" + loan.id + "'>Repay</button>";
            row += "</div></td>";

            row += "</tr>";
            $("table#loans tbody").append(row);
        });
    }

    function get_loans() {
        $.ajax({
            type: "GET",
            url: {% url 'get_loans' %},  // URL to your view that serves new info
            data: {}
            })
            .done(function (response) {
                console.log(response);
                if (response.error) {
                    // display_error(response.error);
                } else {
                    reload_loans(response.loans);
                }
            });
    }

    function create_loan() {
        var data = { "principal": $("input#principal").val(), "loan": $("select#loan option:selected").val() };
        console.log(data);
        $.ajax({
            type: "GET",
            url: {% url 'make_loan' %},  // URL to your view that serves new info
            data: data
            })
            .done(function (response) {
                console.log(response);
                if (response.error) {
                    display_error(response.error);
                } else {
                    reload_loans(response.loans);
                }
            });
    }

    function repay_loan(loan_id, ammount) {

        var data = {
            "ammount": ammount,
            "loan": loan_id
        };
        console.log(data);
        $.ajax({
            type: "GET",
            url: {% url 'repay_loan' %},  // URL to your view that serves new info
            data: data
            })
            .done(function (response) {
                console.log(response);
                if (response.error) {
                    display_error(response.error);
                } else {
                    reload_loans(response.loans);
                }
            });
    }
</script>

{% endblock %}