{% extends 'app/base.html' %}
{% load static %}

{% block title %}Bank{% endblock %}


{% block page_title %}Bank{% endblock %}

{% block search_area %}

{%endblock%}
{% block content %}





<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">

                <h2>Loans</h2>

                <p>Coming soon.</p>

            </div>
        </div>
    </div>

    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
   

                <h2>Buy shares</h2>
                <p>Coming soon. The bank will sell any shares it has for the current market price + 5%</p>
            </div>
        </div>
    </div>

</div>

<div class="row">
    <div class="col-sm">
        <div class="card">
            <div class="card-body">
   

                <h2>Your transactions</h2>
               
                <table class="table" id="transactions">
                    <thead>
                        <tr>
                            <th scope="col">Time</th>
                            <th scope="col">Description</th>
                            <th scope="col">Type</th>
                            <th scope="col">In</th>
                            <th scope="col">Out</th>
                            <th scope="col">Balance</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for t in transactions %}
                        <tr>
                            <td>{{t.timestamp}}</td>
                          <td>{{t.description|safe}}</td>
                          <td>{{t.transaction_type}}</td>
                          <td>{{t.cash_in|floatformat:2}}</td>
                          <td>{{t.cash_out|floatformat:2}}</td>
                          <td>{{t.balance|floatformat:2}}</td>                            
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>
    </div>

</div>




{%endblock%}

{% block footer %}
<script type="text/javascript" src="{% static 'js/common.js' %}"></script>

<script>
    $(document).ready(function() {
      $('#transactions').DataTable({
        paging: false,
        order: [],
      });
    });
</script>

{% endblock %}