{% extends 'app/base.html' %}
{% load static %}

{% block title %}Bank{% endblock %}


{% block page_title %}Bank{% endblock %}

{% block search_area %}

{%endblock%}
{% block content %}

<style id="datatables_crazyfix">
    .tab-content .tab-pane {
        visibility: hidden;
        display: block;
    }
</style>

<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="pills-transactions-tab" data-toggle="pill" href="#pills-transactions" role="tab"
            aria-controls="pills-transactions" aria-selected="true">
            Transactions</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-buy-tab" data-toggle="pill" href="#pills-buy" role="tab" 
        aria-controls="pills-buy"
            aria-selected="false">
            Trade</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-loans-tab" data-toggle="pill" href="#pills-loans" role="tab"
            aria-controls="pills-loans" aria-selected="false">
            Loans</a>
    </li>

</ul>
<div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-transactions" role="tabpanel"
        aria-labelledby="pills-transactions-tab">

        <div class="card">
            <div class="card-body">


                <h2>Your transactions</h2>

                <table class="table" id="transactions">
                    <thead>
                        <tr>
                            <th scope="col">Time</th>
                            <th scope="col">Description</th>
                            <th scope="col">Type</th>
                            <th scope="col">In</th>
                            <th scope="col">Out</th>
                            <th scope="col">Balance</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for t in transactions %}
                        <tr>
                            <td>{{t.timestamp}}</td>
                            <td>{{t.description|safe}}</td>
                            <td>{{t.transaction_type}}</td>
                            <td>{{t.cash_in|floatformat:2}}</td>
                            <td>{{t.cash_out|floatformat:2}}</td>
                            <td>{{t.balance|floatformat:2}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>
    </div>
    <div class="tab-pane fade show" id="pills-buy" role="tabpanel" aria-labelledby="pills-buy-tab">
        <div class="card">
            <div class="card-body">

                <h2>Buy/sell shares</h2>
                <p>Trade directly with the bank, instantly.</p>
                <form id="createShare" class="createAsset" action="#">
                    <div class="form-group row">
                      <label for="athlete" class="col-sm-4 col-lg-2 col-form-label col-form-label">Athlete:</label>
                      <div class="col-sm-6 col-lg-4">
                        <select class="custom-select" id="athletesShare">
                          <!-- <option selected>...</option> -->
                        </select>
                      </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-4 col-lg-2">Bank can sell:</div>
                        <div class="col-sm-8 col-lg-4" id="bankOwnedShares">
                          X Shares
                        </div>
                      </div>
          
                    <div class="form-group row">
                      <label for="volume" class="col-sm-4  col-lg-2 col-form-label col-form-label">Volume:</label>
                      <div class="col-sm-8 col-lg-4">
                        <input type="number" step="0.01" class="form-control" value="0.0" id="volume">
                      </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-5 col-lg-2">Current trading price:</div>
                        <div class="col-7 col-lg-6" id="currentPrice"></div>
                    </div>

                    <div class="form-group  row">
                        <div class="col-5 col-lg-2">Bank will sell for:</div>
                        <div class="col-4 col-lg-4" id="bankSellPrice" data-offer-id=""></div>
                        <div class="col-3 col-lg-2"><button class="btn btn-primary tradeWithBank" id="buyFromBank" type="button" disabled>Buy</button></div>
                    </div>

                    <div class="form-group row">
                        <div class="col-5 col-lg-2">Bank will buy for:</div>
                        <div class="col-4 col-lg-4" id="bankBuyPrice" data-offer-id=""></div>
                        <div class="col-3 col-lg-2"><button class="btn btn-primary tradeWithBank" id="sellToBank" type="button" disabled>Sell</button></div>
                    </div>

                    <div class="form-group row">
                        <div class="col-12" id="refresh" style="display:none">Offer(s) expired <button class="btn btn-warning" id="refreshOffers" type="button">Refresh</button></div>
                    </div>
          
                  </form>
            </div>
        </div>
    </div>
    <div class="tab-pane fade show" id="pills-loans" role="tabpanel" aria-labelledby="pills-loans-tab">
        <div class="card">
            <div class="card-body">

                <h2>Loans</h2>

                <form action="#" method="GET">
                    <div class="form-group row">
                        <label for="principal" class="col-sm-2 col-form-label">New loan</label>
                        <div class="col-sm-8 col-md-2">
                            <input type="number" step="0.01" class="form-control" id="principal">
                        </div>
                    </div>

                    <div class="form-group row">

                        <label class="col-sm-2 col-form-label" for="loan">Loan details</label>
                        <div class="col-sm-12 col-md-10">
                            <select class="custom-select mr-sm-2" id="loan">
                                {% for l in loan_offers %}
                                <option value="{{l.id}}">Interest rate: {{l.investor_interest_rate}}%,
                                    repayment interval [(days) hh:mm:ss]: {{l.repayment_interval}}</option>

                                {% endfor %}
                            </select>
                        </div>

                    </div>

                    <div class="form-group row">
                        <div class="col-sm-2">
                            <button type="submit" class="btn btn-primary" id="createLoan">Take out loan</button>
                        </div>
                    </div>

                </form>

                <h2>Your current loans</h2>
                <table class="table" id="loans">
                    <thead>
                        <tr>
                            <th scope="col">Lender</th>
                            <th scope="col">Balance</th>
                            <th scope="col">Interest rate (%)</th>
                            <th scope="col">Repayment interval</th>
                            <th scope="col">Repayment ammount</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- {% for l in loans %}
            <tr>
                <td>{{l.lender}}</td>
                <td>{{l.balance}}</td>
                <td>{{l.interest_rate}}</td>
                <td>{{l.repayment_interval}}</td>
            </tr>
            {% endfor %} -->
                    </tbody>
                </table>

            </div>
        </div>
    </div>

</div>






{%endblock%}

{% block footer %}

<script type="text/javascript" src="{{ DEPLOY_URL }}{% static 'js/trading.js' %}"></script>

<script>
    var timeoutID;

    $(document).ready(function () {
        $('#transactions').DataTable({
            paging: false,
            scrollx: true,
            order: [],
        });

        $("button#createLoan").click(create_loan);
        get_loans();

        //$("button.repay").click(function() {
        $(document).on("click", "button.repay", function () {
            var loan_id = $(this).attr("data-loan");
            var ammount = $("input.repay[data-loan=" + loan_id + "]").val();
            repay_loan(loan_id, ammount);
        });


        populateAthletes('athletesShare', false);

        $("button#buyFromBank").click(function() { accept_bank_offer('B'); });
        $("button#sellToBank").click(function() { accept_bank_offer('S'); });

        $("#athletesShare").change(get_offer);
        $("#volume").keyup(get_offer);
        $("button#refreshOffers").click(get_offer);

        
        // $("#athletesShare").val()
        // $('#athletesShare').val($("#athletesShare option:first").val());
        get_offer();
    });

    function accept_bank_offer(buy_or_sell) {

        var offer;
        if (buy_or_sell == "B") {
            offer = $("#bankSellPrice").attr("data-offer-id");
            // console.log($("button#buyFromBank").attr("disabled"));
            if ($("button#buyFromBank").attr("disabled")) { return; }
        } else {
            offer = $("#bankBuyPrice").attr("data-offer-id");
            // console.log($("button#sellToBank").attr("disabled"));
            if ($("button#sellToBank").attr("disabled")) { return; }
        }
        
        // Submit request
        data = {"offer": offer, "buy_or_sell": buy_or_sell};
        console.log(data);
        $.ajax({
            type: "GET",
            url: "{% url 'trade_with_bank' %}",  // URL to your view that serves new info
            data: data
            })
            .done(function (response) {
                console.log(response);
                if (response.error) {
                    display_error(response.error);
                } else {
                    successNotif("Trade with bank successful");
                    populate_top_bar_portfolio();
                }
            });

    }

    function disableButtons() {
        $("button.tradeWithBank").attr("disabled", true);
        $("#refresh").show();
    }

    function get_offer() {
        $("#refresh").hide();
        data = {"athlete_id": $("#athletesShare option:selected").val(), "volume": $("#volume").val()};
        // if data.athlete_id
        console.log(data);
        $.ajax({
            type: "GET",
            url: "{% url 'get_bank_offer' %}",  // URL to your view that serves new info
            data: data
            })
            .done(function (response) {
                console.log(response);
                if (response.error) {
                    // display_error(response.error);
                } else {

                    var vol = $("#volume").val();
                    if (response.trading_price_per_unit) {
                        var total = Number(response.trading_price_per_unit * vol).toFixed(2);
                        $("#currentPrice").text(total + " (" + Number(response.trading_price_per_unit).toFixed(2) + " per share)");
                    } else {
                        $("#currentPrice").text("Unknown");
                    }

                    if (response.bank_volume == 0) {
                        $("#bankOwnedShares").text("No shares owned by bank");
                        $("#bankSellPrice").text("N/A");
                        $("#bankBuyPrice").text("N/A");
                        $("#buyFromBank").attr("disabled", true);
                        // return;
                    } else {
                        $("#bankOwnedShares").text(response.bank_volume + " shares");
                    }
                    
                    if (response.offer && response.offer.total_sell_price >= 0) {
                        var per_unit = Number(response.offer.total_sell_price/response.offer.volume).toFixed(2);
                        $("#bankSellPrice").text(Number(response.offer.total_sell_price).toFixed(2) + " (" + per_unit + " per share)");
                        $("#bankSellPrice").attr("data-offer-id", response.offer.id);
                        $("#buyFromBank").attr("disabled", false);
                    } else {
                        $("#bankSellPrice").text("No offer available");
                        $("#bankSellPrice").attr("data-offer-id", "");
                    }

                    if (response.offer && response.offer.total_buy_price >= 0) {
                        var per_unit = Number(response.offer.total_buy_price/response.offer.volume).toFixed(2);
                        $("#bankBuyPrice").text(Number(response.offer.total_buy_price).toFixed(2) + " (" + per_unit + " per share)");
                        $("#bankSellPrice").attr("data-offer-id", response.offer.id);
                        $("#sellToBank").attr("disabled", false);
                    } else {
                        $("#bankBuyPrice").text("No offer available");
                        $("#bankSellPrice").attr("data-offer-id", "");
                    }

                    var delay_ms = new Date(response.offer.expires) - Date.now();
                    // delay_ms = delay_ms/5; //testing
                    console.log("Expiry delay = " + delay_ms/1000 + " seconds");
                    if (timeoutID) {   window.clearTimeout(timeoutID); }
                    timeoutID = window.setTimeout(disableButtons, delay_ms);

                    
                }
            });
    }


    function reload_loans(loans) {
        $("table#loans tbody tr").remove();

        loans.forEach(loan => {
            var interval = moment.duration(loan.repayment_interval);
            var s = String(interval.get('seconds')).padStart(2, '0');
            var days = String(interval.get('days'));
            var hours = String(interval.get('hours')).padStart(2, '0');
            var mins = String(interval.get('minutes')).padStart(2, '0');

            var formatted_time = days + " days, " + hours + ":" + mins + ":" + s;

            var row = "<tr>";
            row += "<td>" + loan.lender.name + "</td>";
            row += "<td>" + Number(loan.balance).toFixed(2) + "</td>";
            row += "<td>" + loan.interest_rate + "</td>";
            row += "<td>" + formatted_time + "</td>";
            row += "<td> ";
            row += "<div class='row'><input type='number' step='0.01' class='col-sm-8 form-control repay' data-loan='" + loan.id + "' placeholder='Repayment ammount' >";
            row += "<button class='btn btn-primary repay col-sm-auto' data-loan='" + loan.id + "'>Repay</button>";
            row += "</div></td>";

            row += "</tr>";
            $("table#loans tbody").append(row);
        });
    }

    function get_loans() {
        $.ajax({
            type: "GET",
            url: "{% url 'get_loans' %}",  // URL to your view that serves new info
            data: {}
            })
            .done(function (response) {
                console.log(response);
                if (response.error) {
                    // display_error(response.error);
                } else {
                    reload_loans(response.loans);
                }
            });
    }

    function create_loan() {
        var data = { "principal": $("input#principal").val(), "loan": $("select#loan option:selected").val() };
        console.log(data);
        $.ajax({
            type: "GET",
            url: "{% url 'make_loan' %}",  // URL to your view that serves new info
            data: data
            })
            .done(function (response) {
                console.log(response);
                if (response.error) {
                    display_error(response.error);
                } else {
                    reload_loans(response.loans);
                }
            });
    }

    function repay_loan(loan_id, ammount) {

        var data = {
            "ammount": ammount,
            "loan": loan_id
        };
        console.log(data);
        $.ajax({
            type: "GET",
            url: "{% url 'repay_loan' %}",  // URL to your view that serves new info
            data: data
            })
            .done(function (response) {
                console.log(response);
                if (response.error) {
                    display_error(response.error);
                } else {
                    reload_loans(response.loans);
                }
            });
    }
</script>

{% endblock %}