{% extends 'app/base.html' %}
{% load static %}

{% block title %}{{investor.user.username}}{% endblock %}


{% block page_title %}{{investor.user.username}}{% endblock %}
{% block search_area %}
<div class="col-sm-3">

    <div class="input-group mb-3" id="investor-search">
        <input type="text" class="form-control typeahead" id="investorNameInput" placeholder="Investor search"
            aria-label="Investor name" aria-describedby="basic-addon2">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" onclick="investorSearch()">Go</button>
        </div>
        <div id="investorNameError" class="searchError col-sm-4"></div>
    </div>

</div>
{%endblock%}

{% block content %}





<div class="row">
    <div class="col-sm">
        <h2>Portfolio</h2>
        Current worth: {{worth.total|floatformat:2}} (shares: {{worth.shares|floatformat:2}}, cash:
        {{worth.cash|floatformat:2}})
        <div class="graph">
            <canvas id="investorValue"></canvas>
        </div>
    </div>
    <div class="col-sm">
        <h2>Shares owned</h2>
        <table class="table" id="shares_owned">
            <thead>
                <tr>
                    <th scope="col">Athlete</th>
                    <th scope="col">Volume</th>
                </tr>
            </thead>
            <tbody>
                {% for share in shares %}
                <tr>
                    <td><span class="badgeContainer">
                        <a href="/athlete/{{share.athlete.id}}" class="badge badge-danger">
                            {{share.athlete.name}}</a>
                        </span>
                    </td>
                    <td>{{share.volume|floatformat:2}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</div>


<div class="row">
    <div class="col-sm">
        <h2>Trading history</h2>
        <div id="past_trades">
            <table class="table" id="past_trades">
                <thead>
                    <tr>
                        <th scope="col">Status</th>
                        <th scope="col">Commodity</th>
                        <th scope="col">Price</th>
                        <th scope="col">Seller</th>
                        <th scope="col">Buyer</th>
                        <th scope="col">Initiated by</th>
                        <th scope="col">Last updated</th>

                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>

</div>






{%endblock%}

{% block footer %}

<script type="text/javascript" src="{% static 'js/trading.js' %}"></script>
<script type="text/javascript" src="{% static 'js/typeahead.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>

<script>

    function makeGraph(id) {
        $.ajax({
            type: "GET",
            url: {% url 'retrieve_investor_portfolio' %},  // URL to your view that serves new info
            data: { "id": id }
            })
            .done(function (response) {
                // console.log(response);
                if (response.error) {
                    display_error(response.error);
                }
                var ctx = document.getElementById('investorValue').getContext('2d');

                var portfolio_vals = [];
                var portfolio_cash_vals = [];
                var portfolio_share_vals = [];
                response.combined.forEach(v => {
                    portfolio_vals.push({ x: new Date(v.time), y: Number(v.value).toFixed(2) });
                });

                response.shares.forEach(v => {
                    portfolio_share_vals.push({ x: new Date(v.time), y: Number(v.value).toFixed(2) });
                });

                response.cash.forEach(v => {
                    portfolio_cash_vals.push({ x: new Date(v.time), y: Number(v.value).toFixed(2) });
                });



                var dataset_total = {
                    label: "Total portfolio value",
                    borderColor: "blue",
                    data: portfolio_vals,
                    fill: false,
                    lineTension: 0,
                };

                var dataset_shares = {
                    label: "Shares",
                    borderColor: "red",
                    data: portfolio_share_vals,
                    fill: false,
                    lineTension: 0,
                };

                var dataset_cash = {
                    label: "Cash",
                    borderColor: "green",
                    data: portfolio_cash_vals,
                    fill: false,
                    lineTension: 0,
                };

                var data = { datasets: [dataset_total, dataset_cash, dataset_shares] };

                var myChart = new Chart(ctx, {
                    type: 'line',
                    data: data,
                    options: {
                        scales: {
                            xAxes: [{
                                type: 'time',
                                // distribution: 'series'
                                ticks: {
                                    autoSkip: true,
                                    maxTicksLimit: 10,
                                },
                                // time: timeStep,
                                scaleLabel: {
                                    display: true,
                                    labelString: "Time"
                                },
                            }],
                            yAxes: [
                                {
                                    scaleLabel: {
                                        display: true,
                                        labelString: "Value"
                                    },
                                    ticks: {
                                        beginAtZero: true
                                    }
                                }
                            ]
                        },
                        plugins: {
                            zoom: {
                                zoom: {
                                    enabled: true,
                                    mode: 'xy',
                                    speed: 0.05
                                },
                                pan: {
                                    enabled: true,
                                }
                            }
                        }
                    }
                });
            });
        }

    var investorMapping = {}; 
    var investors = [];

    function investorSearch() {
        var name = $("#investorNameInput").val();
        if (investors.includes(name)) {
            // console.log(name);
            window.location.href = '/investor/' + investorMapping[name];
        }
        else {
            $("#investorNameError").html("Cannot find investor");
        }
    }

    $(document).ready(function () {
        makeGraph({{ investor.id }});

    reload_past_trades({{ investor.id }});

   



    $.ajax({
        type: "GET",
        url: '/get_investors',  // URL to your view that serves new info
        data: {}
    })
        .done(function (response) {
            console.log("Investors:");
            console.log(response);
            response.investors.forEach(investor => {
                investorMapping[investor.name] = investor.id;
            });

            investors = Object.keys(investorMapping);

            $('#investor-search .typeahead').typeahead({
                hint: true,
                highlight: true,
                minLength: 1
            },
                {
                    name: 'investors',
                    source: substringMatcher(investors)
                });

        });       

    }); // end on document ready




</script>

{% endblock %}