{% extends 'app/base.html' %}
{% load static %}

{% block title %}{{investor.display_name}}{% endblock %}


{% block page_title %}{{investor.display_name}}{% endblock %}
{% block search_area %}
<div class="col-sm-3 order-2">

    <div class="input-group mb-3" id="investor-search">
        <div class="row">
            <div class="col-sm-3">
                <div id="investorNameError" class="searchError col-sm-4"></div>
            </div>
        </div>
        <div class="row">
            <input type="text" class="form-control typeahead" id="investorNameInput" placeholder="Investor search"
                aria-label="Investor name" aria-describedby="basic-addon2">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary predict-search" type="button"
                    onclick="investorSearch()">Go</button>
            </div>
        </div>

    </div>

</div>
{%endblock%}

{% block content %}


<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="pills-summary-tab" data-toggle="pill" href="#pills-summary" role="tab"
            aria-controls="pills-summary" aria-selected="true">
            Summary</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-contracts-tab" data-toggle="pill" href="#pills-contracts" role="tab"
            aria-controls="pills-contracts" aria-selected="false">
            Contracts</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" id="pills-debt-tab" data-toggle="pill" href="#pills-debt" role="tab"
            aria-controls="pills-debt" aria-selected="false">
            Debts/Loans</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-history-tab" data-toggle="pill" href="#pills-history" role="tab"
            aria-controls="pills-history" aria-selected="false">
            History</a>
    </li>

</ul>
<div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-summary" role="tabpanel" aria-labelledby="pills-summary-tab">


        <div class="row">
            <div class="col-sm-8">

                <div class="card">
                    <div class="card-body">
                        <h4> Current worth: {{worth.total|floatformat:2}} (shares: {{worth.shares|floatformat:2}}, cash:
                            {{worth.cash|floatformat:2}})</h4>


                        {% include 'app/zoom.html' %}
                        <div class="graph">
                            <canvas id="investorValue"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-body">
                        <h2>Shares owned</h2>
                        <table class="table" id="shares_owned">
                            <thead>
                                <tr>
                                    <th scope="col">Athlete</th>
                                    <th scope="col">Volume</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for share in shares %}
                                <tr>
                                    <td><span class="badgeContainer">
                                            <a href="{% url 'athlete' athlete_id=share.athlete.id %}" class="badge badge-danger">
                                                {{share.athlete.name}}</a>
                                        </span>
                                    </td>
                                    <td>{{share.volume|floatformat:2}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <div class="tab-pane fade show" id="pills-contracts" role="tabpanel" aria-labelledby="pills-contracts-tab">


        <div class="row">
            <div class="col-sm">
                <div class="card">
                    <div class="card-body">

                        <h2>Future contracts held</h2>
                        <div id="contracts">
                            <table class="table" id="contracts">
                                <thead>
                                    <tr>
                                        <th scope="col">Obligation</th>
                                        <th scope="col">Asset</th>
                                        <th scope="col">Strike price</th>
                                        <th scope="col">Strike date</th>
                                        <th scope="col">Other party</th>
                                        <th scope="col">Current value</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for c in contracts %}
                                    <tr>
                                        <!-- currently only works for futures -->
                                        <td>{{ c.investor_obligation }}</td>
                                        <td>{{ c.future.underlying_asset.athlete.name }}
                                            ({{ c.future.underlying_asset.volume }} shares)</td>
                                        <td>{{ c.future.strike_price }}</td>
                                        <td>{{ c.future.action_date }}</td>
                                        <td>{{ c.other_party_to_investor }}</td>
                                        <td>{{ c.value }}</td>
                                    </tr>

                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="tab-pane fade show" id="pills-history" role="tabpanel" aria-labelledby="pills-history-tab">


        <div class="row">
            <div class="col-sm">
                <div class="card">
                    <div class="card-body">

                        <h2>Trading history</h2>
                        <div id="past_trades">
                            <table class="table" id="past_trades">
                                <thead>
                                    <tr>
                                        <th scope="col">Status</th>
                                        <th scope="col">Asset</th>
                                        <th scope="col">Price</th>
                                        <th scope="col">Seller</th>
                                        <th scope="col">Buyer</th>
                                        <th scope="col">Initiated by</th>
                                        <th scope="col">Last updated</th>

                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="tab-pane fade show" id="pills-debt" role="tabpanel" aria-labelledby="pills-debt-tab">
        <div class="row">
            <div class="col-sm-12 col-lg-6">
                <div class="card">
                    <div class="card-body">

                        <!-- <h2>Future contracts held</h2> -->
                        <div id="contracts">
                            <table class="table" id="contracts">
                                <thead>
                                    <tr>
                                        <th scope="col">Owed to</th>
                                        <th scope="col">Ammount</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for d in debts %}
                                    <tr>
                                        <!-- currently only works for futures -->
                                        <td>{{ d.owed_to.print_name }}</td>
                                        <td>{{ d.ammount|floatformat:2 }}</td>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-lg-6">
                <div class="card">
                    <div class="card-body">

                        <!-- <h2>Future contracts held</h2> -->
                        <div id="contracts">
                            <table class="table" id="contracts">
                                <thead>
                                    <tr>
                                        <th scope="col">Loan from</th>
                                        <th scope="col">Current balance</th>
                                        <th scope="col">Interest rate</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for l in loans %}
                                    <tr>
                                        <!-- currently only works for futures -->
                                        <td>{{ l.lender }}</td>
                                        <td>{{ l.balance|floatformat:2 }}</td>
                                        <td>{{ l.interest_rate|floatformat:2 }}</td>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>










{%endblock%}

{% block footer %}

<script type="text/javascript" src="{{ DEPLOY_URL }}{% static 'js/trading.js' %}"></script>
<script type="text/javascript" src="{{ DEPLOY_URL }}{% static 'js/typeahead.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>

<script>
    var chart = undefined;

    function makeGraph(id) {
        $.ajax({
            type: "GET",
            url: "{% url 'retrieve_investor_portfolio' %}",  // URL to your view that serves new info
            data: { "id": id }
            })
            .done(function (response) {
                // console.log(response);
                if (response.error) {
                    display_error(response.error);
                }
                var ctx = document.getElementById('investorValue').getContext('2d');

                var portfolio_vals = [];
                var portfolio_cash_vals = [];
                var portfolio_share_vals = [];
                var portfolio_deriv_vals = [];
                response.combined.forEach(v => {
                    portfolio_vals.push({ x: new Date(v.time), y: Number(v.value).toFixed(2) });
                });

                response.shares.forEach(v => {
                    portfolio_share_vals.push({ x: new Date(v.time), y: Number(v.value).toFixed(2) });
                });

                response.cash.forEach(v => {
                    portfolio_cash_vals.push({ x: new Date(v.time), y: Number(v.value).toFixed(2) });
                });

                response.derivatives.forEach(v => {
                    portfolio_deriv_vals.push({ x: new Date(v.time), y: Number(v.value).toFixed(2) });
                });

                var dataset_total = {
                    label: "Total portfolio value",
                    borderColor: "blue",
                    data: portfolio_vals,
                    fill: false,
                    lineTension: 0,
                };

                var dataset_shares = {
                    label: "Shares",
                    borderColor: "red",
                    data: portfolio_share_vals,
                    fill: false,
                    lineTension: 0,
                };

                var dataset_cash = {
                    label: "Cash",
                    borderColor: "green",
                    data: portfolio_cash_vals,
                    fill: false,
                    lineTension: 0,
                };

                var dataset_derivs = {
                    label: "Derivatives",
                    borderColor: "purple",
                    data: portfolio_deriv_vals,
                    fill: false,
                    lineTension: 0,
                };

                var data = { datasets: [dataset_total, dataset_cash, dataset_shares, dataset_derivs] };

                chart = new Chart(ctx, {
                    type: 'line',
                    data: data,
                    options: defaultChartOptions("Value"),
                });
            });
        }

    var investorMapping = {};
    var investors = [];

    function investorSearch() {
        var name = $("#investorNameInput").val();
        if (investors.includes(name)) {
            // console.log(name);
            window.location.href = '/investor/' + investorMapping[name];
        }
        else {
            $("#investorNameError").html("Cannot find investor");
        }
    }

    $(document).ready(function () {
        setupChartStyles();
        makeGraph({{ investor.id }});

    reload_past_trades({{ investor.id }});





    $.ajax({
        type: "GET",
        url: '/get_investors',  // URL to your view that serves new info
        data: {}
    })
        .done(function (response) {
            console.log("Investors:");
            console.log(response);
            response.investors.forEach(investor => {
                investorMapping[investor.name] = investor.id;
            });

            investors = Object.keys(investorMapping);

            $('#investor-search .typeahead').typeahead({
                hint: true,
                highlight: true,
                minLength: 1
            },
                {
                    name: 'investors',
                    source: substringMatcher(investors)
                });

        });       

    }); // end on document ready


    $("#investorNameInput").on('keypress', function (e) {
        if (e.which == 13) {
            investorSearch();
        }
    });


</script>

{% endblock %}