{% extends 'app/base.html' %}
{% load static %}

{% block title %}{{investor.user.username}}{% endblock %}


{% block page_title %}{{investor.user.username}}{% endblock %}
{% block search_area %} 
<div class="col-sm">Searchbox to view different investor
</div>
{%endblock%}

{% block content %}


   


<div class="row">
    <div class="col-sm">
        <h2>Portfolio</h2>
        Current worth: {{worth.total|floatformat}} (shares: {{worth.shares|floatformat}}, cash: {{worth.cash|floatformat}})
        <div class="graph">
            <canvas id="investorValue"></canvas>
        </div>
    </div>
    <div class="col-sm">
        <h2>Shares owned</h2>
        <table class="table" id="shares_owned">
            <thead>
              <tr>
                <td scope="col">Athlete</td>
                <th scope="col">Volume</th>    
              </tr>
            </thead>
            <tbody>
                {% for share in shares %}
                <tr>
                    <td ><a href="/athlete/{{share.athlete.id}}" class="badge badge-danger">{{share.athlete.name}}</a></td>
                    <th >{{share.volume|floatformat}}</th>    
                  </tr>
                {% endfor %}
            </tbody>
          </table>
    </div>

</div>


<div class="row">
    <div class="col-sm">
    <h2>Trading history</h2>
    <div id="past_trades">
        <table class="table" id="past_trades">
          <thead>
            <tr>
              <td scope="col">Status</td>
              <th scope="col">Commodity</th>
              <th scope="col">Price</th>
              <td scope="col">Seller</td>
              <td scope="col">Buyer</td>
              <td scope="col">Initiated by</td>
              <td scope="col">Last updated</td>
  
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
</div>

</div>






{%endblock%}

{% block footer %}

<script type="text/javascript" src="{% static 'js/trading.js' %}"></script>


<script>

    function makeGraph(id) {
        $.ajax({
            type: "GET",
            url: {% url 'retrieve_investor_portfolio' %},  // URL to your view that serves new info
            data: { "id": id }
            })
            .done(function (response) {
                // console.log(response);
                if (response.error) {
                    display_error(response.error);
                }
                var ctx = document.getElementById('investorValue').getContext('2d');
  
                var portfolio_vals = [];
                var portfolio_cash_vals = [];
                var portfolio_share_vals = [];
                response.combined.forEach(v => {
                    portfolio_vals.push({x: new Date(v.time), y:Number(v.value).toFixed(2)});
                });

                response.shares.forEach(v => {
                    portfolio_share_vals.push({x: new Date(v.time), y:Number(v.value).toFixed(2)});
                });

                response.cash.forEach(v => {
                    portfolio_cash_vals.push({x: new Date(v.time), y:Number(v.value).toFixed(2)});
                });

                

                var dataset_total = {
                    label: "Total portfolio value",
                    borderColor: "blue",
                    data: portfolio_vals,
                    fill: false,
                    lineTension:0,
                };

                var dataset_shares = {
                    label: "Shares",
                    borderColor: "red",
                    data: portfolio_share_vals,
                    fill: false,
                    lineTension:0,
                };

                var dataset_cash = {
                    label: "Cash",
                    borderColor: "green",
                    data: portfolio_cash_vals,
                    fill: false,
                    lineTension:0,
                };

                var data = {datasets: [dataset_total, dataset_cash, dataset_shares]};

                var myChart = new Chart(ctx, {
                    type: 'line',
                    data: data,
                    options: {
                        scales: {
                            xAxes: [{
                                type: 'time',
                                // distribution: 'series'
                                ticks: {
                                    autoSkip: true,
                                    maxTicksLimit: 10,
                                },
                                // time: timeStep,
                                scaleLabel: {
                                    display: true,
                                    labelString: "Time"
                                },
                            }],
                            yAxes: [
                                {
                                    scaleLabel: {
                                        display: true,
                                        labelString: "Value"
                                    },
                                    ticks: {
                                        beginAtZero: true
                                    }
                                }
                            ]
                        },
                        plugins: {
                            zoom: {
                                zoom: {
                                    enabled: true,
                                    mode: 'xy',
                                    speed: 0.05
                                },
                                pan: {
                                    enabled: true,
                                }
                            }
                        }
                    }
                });
            });
        }


    $(document).ready(function () {
        makeGraph({{ investor.id }});

        reload_past_trades({{investor.id}});
    });


</script>

{% endblock %}