{% extends 'app/base.html' %}
{% load static %}

{% block title %}Marketplace{% endblock %}

{% block page_title %}Marketplace{% endblock %}

{% block content %}


<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="shares-tab-tab" data-toggle="pill" href="#shares-tab" role="tab"
            aria-controls="shares-tab" aria-selected="true">
            Shares</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="futures-tab-tab" data-toggle="pill" href="#futures-tab" role="tab"
            aria-controls="futures-tab" aria-selected="false">
            Futures</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="options-tab-tab" data-toggle="pill" href="#options-tab" role="tab"
            aria-controls="options-tab" aria-selected="false">
            Options</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="swaps-tab-tab" data-toggle="pill" href="#swaps-tab" role="tab"
            aria-controls="swaps-tab" aria-selected="false">
            Swaps</a>
    </li>

</ul>

<div class="tab-content" id="tabContent-tab">
    <div class="tab-pane fade show active" id="shares-tab" role="tabpanel" aria-labelledby="shares-tab-tab">
        <div class="row">
            <div class="col-sm-12 col-lg-6">

                <div class="card">
                    <div class="card-body">
                        <h2>Buy</h2>

                        <div id="buyTable">
                            <table class="table buy" id="buy_share" data-asset="share">
                                <thead>
                                    <tr>
                                        <th scope="col">Athlete</th>
                                        <th scope="col">Volume</th>
                                        <th scope="col">Price/volume</th>
                                        <th scope="col">Seller</th>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td colspan=5>No trades found</td>
                                    </tr>
                                </tbody>
                            </table>



                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-lg-6">

                <div class="card">
                    <div class="card-body">

                        <h2>Sell</h2>

                        <div id="sellTable">
                            <table class="table sell" id="sell_shares" data-asset="share">
                                <thead>
                                    <tr>
                                        <th scope="col">Athlete</th>
                                        <th scope="col">Volume</th>
                                        <th scope="col">Price/volume</th>
                                        <th scope="col">Buyer</th>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td colspan=5>No trades found</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>


                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="tab-pane fade show " id="futures-tab" role="tabpanel" aria-labelledby="futures-tab-tab">

        <table class="table buy" data-asset="future">
            <thead>
                <tr>
                    <th scope="col">Your position</th>
                    <th scope="col">Athlete</th>
                    <th scope="col">Volume</th>
                    <th scope="col">Strike Price/volume</th>
                    <th scope="col">Strike time</th>
                    <th scope="col">Price to enter contract</th>
                    <th scope="col">Seller</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan=5>No trades found</td>
                </tr>
            </tbody>
        </table>


    </div>
    <div class="tab-pane fade show " id="options-tab" role="tabpanel" aria-labelledby="options-tab-tab">
        <table class="table buy" data-asset="option">
            <thead>
                <tr>
                    <th scope="col">Your obligation</th>
                    <th scope="col">Athlete</th>
                    <th scope="col">Volume</th>
                    <th scope="col">Strike price/volume</th>
                    <th scope="col">Strike time</th>
                    <th scope="col">Trade price</th>
                    <th scope="col">Option holder</th>
                    <th scope="col">Seller</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan=5>No trades found</td>
                </tr>
            </tbody>
        </table>


    </div>
    <div class="tab-pane fade show " id="swaps-tab" role="tabpanel" aria-labelledby="swaps-tab-tab">
        <table class="table buy" data-asset="swap">
            <thead>
                <tr>
                    <th scope="col">Description</th>
                    <th scope="col">Price</th>
                    <th scope="col">Seller</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan=5>No trades found</td>
                </tr>
            </tbody>
        </table>

    </div>
</div>



{%endblock%}


{% block js_footer %}



{% endblock %}

{%block footer %}
<script type="text/javascript" src="{{ DEPLOY_URL }}{% static 'js/trading.js' %}"></script>

<script type="text/javascript">
    var selected_asset; // selected asset

    function reload_marketplace_trades() {
        console.log("Reload " + selected_asset);

        // Remove datatable
        $("table").each(function () {
            if ($.fn.DataTable.isDataTable($(this))) {
                $(this).DataTable().destroy();
            }
        });

        populate_table(selected_asset);
    }

    $(document).ready(function () {
        // selected_asset = "share";
        // $("table.sell").hide();
        // $("table.buy").hide();
        populate_table("share");
        populate_table("option");
        populate_table("future");
        populate_table("swap");

        // $("button.asset-choice[data-asset=" + selected_asset + "]").removeClass("btn-outline-success");
        // $("button.asset-choice[data-asset=" + selected_asset + "]").addClass("btn-success");


        // $("button.asset-choice").click(function () {
            // selected_asset = $(this).attr("data-asset");

            // $("button.asset-choice").each(function () {
            //     $(this).removeClass("btn-success");
            //     $(this).addClass("btn-outline-success");
            // });

            // $(this).removeClass("btn-outline-success");
            // $(this).addClass("btn-success");

            // $("table.sell").hide();
            // $("table.buy").hide();



            // if (selected_asset == 'share') {
            //     $("#sellContainer").show();
            //     $("#buyContainer").removeClass("col-lg-12");
            //     $("#sellContainer").removeClass("col-lg-12");
            //     $("#buyContainer").addClass("col-lg-6");
            //     $("#sellContainer").addClass("col-lg-6");
            // } else {
            //     $("#buyContainer").removeClass("col-lg-6");
            //     $("#sellContainer").removeClass("col-lg-6");
            //     $("#buyContainer").addClass("col-lg-12");
            //     $("#sellContainer").addClass("col-lg-12");
            //     $("#sellContainer").hide();

            // }

            // $("table").each(function (index) {
            //     // console.log($(this));
            //     if ($.fn.DataTable.isDataTable($(this))) {
            //         $(this).DataTable().destroy();
            //         // console.log("Destroy");
            //     }

            // });

            // $("table[data-asset=" + selected_asset + "]").show();

            

        // });
    });

    function populate_table(asset) {
        
        var tables = $("table[data-asset=" + asset + "]");

        $("table[data-asset=" + asset + "]").show();

        // Get the trades
        $.ajax({
            type: "GET",
            url: '/retrieve_trades/',  // URL to your view that serves new info
            data: { "asset": asset }
        })
            .done(function (response) {
                console.log(response);
                if (response.error) {
                    return;
                }

                console.log("Retrieved " + response.trades.length + " trades");

                $("table[data-asset=" + asset + "] tbody tr").remove();

                var buy_exists = false;
                var sell_exists = false;

                response.trades.forEach(trade => {

                    var row = '';
                    var tooltip = '';

                    var other_party;
                    var buy_sell;
                    if (trade.seller) {
                        other_party = trade.seller;
                        buy_sell = 'buy';
                        buy_exists = true;
                    } else {
                        other_party = trade.buyer;
                        buy_sell = 'sell';
                        sell_exists = true;
                    }

                    var is_share = (trade.asset.athlete != undefined);
                    var is_future = (trade.asset.underlying != undefined && trade.asset.current_option == undefined);
                    var is_option = (trade.asset.underlying != undefined && trade.asset.current_option != undefined);


                    if (is_share) {
                        var share = trade.asset;
                        row += '<td>' + format_athlete(share.athlete) + '</td>';
                        row += '<td  class="volume">' + Number(share.volume).toFixed(2) + '</td>';
                        row += '<td>' + Number(trade.price / share.volume).toFixed(2) + '</td>';
                    }


                    if (is_future || is_option) {
                        buy_sell = "Enter contract";
                        var future = trade.asset
                        var share = future.underlying
                        var d = new Date(future.strike_date);
                        // if we're not the seller, we would be acquiring shares

                        var trader_obligation = ""; // what will the buyer or seller be taking on? The obligation to buy or to sell?


                        // var other_ob; // what is the obligation of the other party? our obligation will then be the opposite
                        // if (future.owner && other_party.id == future.owner.id) {
                        //     other_ob = future.owner_obligation;
                        // } else {
                        //     other_ob = (future.owner_obligation == 'Sell') ? 'buy' : 'sell';
                        // }

                        // trader_obligation = (other_ob == 'sell') ? 'Buy' : 'Sell';
                        // What is our obligation here?
                        // First check if we're involved in the trade...
                        if (future.seller && future.seller.id == response.investor.id) 
                        {
                            trader_obligation = "Sell";
                        }
                        else if (future.buyer && future.buyer.id == response.investor.id)
                        {
                            trader_obligation = "Buy";
                        }
                        // we're not involved in the trade, so we're the opposite of whoever is involved
                        else if (future.seller) {
                            trader_obligation = "Buy";
                        } else {
                            trader_obligation = "Sell";
                        }
                        // trader_obligation = "Unknown - TODO";
                        

                        row += '<td>' + trader_obligation + '</td>';
                        row += '<td>' + format_athlete(share.athlete) + '</td>';

                        var future_asset_plus_minus = "";
                        // var tooltip = "";
                        if (future.seller && future.seller.id != response.investor.id) {
                            future_asset_plus_minus = "+";
                            tooltip = "You will purchase shares in this futures contract";
                        } else if (future.buyer && future.buyer.id != response.investor.id) {
                            future_asset_plus_minus = "-";
                            tooltip = "You will sell shares in this futures contract";
                            // } else if (future.seller && )
                        }

                        tooltip = "If you " + buy_sell + " this future contract, you commit to " + trader_obligation.toLowerCase() + "ing ";
                        tooltip += Number(share.volume).toFixed(2) + " shares in " + share.athlete.name + " for ";
                        tooltip += Number(future.strike_price / share.volume).toFixed(2) + " per share at " + d.toLocaleString();

                        row += '<td>' + Number(share.volume).toFixed(2) + '</td>';
                        row += '<td>' + Number(future.strike_price / share.volume).toFixed(2) + '</td>';
                        row += '<td>' + d.toLocaleString() + '</td>';
                        row += '<td>' + Number(trade.price).toFixed(2) + '</td>';

                        if (is_option) {
                            row += '<td>' + format_investor_display(response.investor, future.option_holder) + '</td>';
                        }
                    }


                    // seller
                    row += '<td>' + format_investor_display(response.investor, other_party) + '</td>';

                    var actions = get_actions(trade, buy_sell);
                    row += '<td>' + actions + '</td>';
                    // row = '<tr data-trade="' + trade.id + '" data-toggle="tooltip" data-placement="left" title="' + tooltip + '">' + row + '</tr>';
                    row = '<tr ' + make_trade_row_attrs(trade) + 'data-toggle="tooltip" data-placement="left" title="' + tooltip + '">' + row + '</tr>';

                    if (is_share) {
                        $("table[data-asset=" + asset + "]." + buy_sell + " tbody").append(row);    
                    } else {
                    $("table[data-asset=" + asset + "].buy tbody").append(row);
                    }
                    // $("table[data-asset=" + asset + "]." + buy_sell + " tbody").append('<tr><td colspan=9>' + JSON.stringify(trade) + '</td></tr>');

                });

                var none_exist = `<tr><td colspan=5>No trades found</td></tr>`;

                $("table[data-asset=" + asset + "]").each(function (index) {
                    var rowCount = $(this).find('tbody').find('tr').length;
                    // console.log("Row count: "+String(rowCount));
                    if (rowCount > 0) {
                        if (!$.fn.DataTable.isDataTable($(this))) {
                            var order = [];
                            if ($(this).attr('id') == "buy_share") {
                                order = [2, 'asc'];
                            } else if ($(this).attr('id') == "sell_shares") {
                                order = [2, 'desc'];
                            }

                            $(this).dataTable({
                                paging: false,
                                order: order,
                                scrollx: true,
                            });
                        }
                    }
                    else {
                        $(this).find('tbody').append(none_exist);
                    }
                });





            });
    }

</script>
{% endblock %}