{% extends 'app/base.html' %}
{% load static %}

{% block title %}Your Profile{% endblock %}


{% block page_title %}Your Profile{% endblock %}

<!--Hello, {{ user.username }}. <br><br> -->

<!-- General summary of investor's portfolio and trade options <br><br>-->


{% block content %}

<div class="card">
    <div class="card-body">

<form action="/profile/" method="post">
    {% csrf_token %}
    
    {% for field in form %}
    <div class="form-group row">
        {{ field.errors }}
        <div class="col-sm-2">
        {{ field.label_tag }} </div>
        <div class="col-sm-4">{{ field }}</div>
        
        {% if field.help_text %}
        
        <p class="help">{{ field.help_text|safe }}</p>
        {% endif %}
    </div>
{% endfor %}

    <button class="btn btn-success" type="submit">Submit</button>
</form>

</div>
</div>




{%endblock%}

{% block footer %}

{% endblock %}