{% extends 'app/base.html' %}
{% load static %}

{% block title %}Races{% endblock %}

{% block page_title %}Races{% endblock %}


{% block content %}


<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-sm-3 leftnav">
                <ul class="eventList">

                    {% for event in events %}
                    <li>
                        <!-- <a class="event" data-event="{{event.id}}" href="#">{{event.name}} ({{event.date}})</a> -->
                        {{event.name}} ({{event.date}})
                        <ul class="raceList">
                            {% for race in event.races.all %}
                            <li><a class="race" data-race="{{race.id}}" href="#">{{race.name}}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                    {% endfor %}
                </ul>

            </div>

            <div class="col-sm-8">
                <div id="selectedRace">
                    <div class="row">
                        <div class="col-sm-12">
                            <h2 id="raceName">Varsity II</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <h4>Dividend formula</h4>
                        </div>
                        <div class="col-sm-4" id="raceDividend">formula</div>
                        <div class="col-sm-5" style="min-width:300px" >
                            <canvas id="dividendGraph"></canvas>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <h4>External links</h4>
                        </div>
                        <div class="col-sm-9" id="raceLink">link</div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-12" id="raceResultsTable">Results if available</div>
                    </div>




                </div>

                <div id="selectedEvent">
                    <h2 id="eventName"></h2>
                    <div class="row">
                        <div class="col-sm-2">External link:</div>
                        <div class="col-sm-2" id="eventDate">link</div>
                    </div>
                </div>
                <div id="noRaceSelected">
                    <h4>Select a race to view results, dividends, and more</h4>
                </div>
            </div>
        </div>
    </div>
</div>


{%endblock%}


{% block footer %}

<script type="text/javascript" src="{% static 'js/common.js' %}"></script>
<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

<script type="text/javascript">

    function display_event(event_id) {
        $.ajax({
            type: "GET",
            url: '/get_event/',  // URL to your view that serves new info
            data: { "id": event_id }
        })
            .done(function (response) {
                console.log(response)
                if (response.error) {
                    display_error(response.error);
                    $("#noRaceSelected").show();
                    return;
                }

                $("#selectedEvent").text(response);
                $("#selectedEvent").show();
                $("#noRaceSelected").hide();
            });
    }

    function display_race(race_id) {
        $.ajax({
            type: "GET",
            url: '/get_race/',  // URL to your view that serves new info
            data: { "id": race_id }
        })
            .done(function (response) {
                console.log(response)
                if (response.error) {
                    display_error(response.error);
                    $("#noRaceSelected").show();
                    return;
                }
                var race = response.race;


                var d = new Date(race.time);
                var a = race.min_dividend;
                var b = race.max_dividend;
                $("#raceName").text(race.event.name + " - " + race.name + " (" + d.toLocaleString() + ")");
                // $("#raceDate").text(d.toLocaleString());
                var equation = "\\[ d= a + \\left(\\frac{N - p}{N-1}\\right)^2 (b-a) \\]";
                equation += " \\[ \\textrm{where:}  \\]";
                equation += " \\[  d=\\textrm{dividend per share}, \\]";
                equation += " \\[  N=\\textrm{number of competitors}, \\]";
                equation += " \\[  p=\\textrm{position}, \\]";
                equation += "\\[  a=" + Number(a).toFixed(2) + ", b=" + Number(b).toFixed(2) + "\\]"
                $("#raceDividend").text(equation);

                // Make dividend graph
                
                var x_vals = [];
                var dividends = [];
                var N = 100;

                for (var i = 0; i <= N; i++) {
                    var relPos = i / N;
                    x_vals.push(relPos);
                    dividends.push(relPos * relPos * (b - a) + a);
                }

                var style = getComputedStyle(document.body);
                var primCol = style.getPropertyValue('--fg-1');

                var ctx = document.getElementById("dividendGraph");
                ctx.height = 250;

                new Chart(ctx, {
                    type: 'line',
                    data: {
                        labels: x_vals,
                        datasets: [{
                            data: dividends,
                            label: "Dividend",
                            borderColor: "#3e95cd",
                            fill: false
                        },
                        ]
                    },
                    options: {
                        scales: {
                            xAxes: [{
                                scaleLabel: {
                                    display: true,
                                    labelString: "Scaled position: (N-p)/(N-1)"
                                },
                                gridLines: {
                                    color: primCol,
                                    zeroLineColor: primCol
                                }
                            }],
                            yAxes: [
                                {
                                    scaleLabel: {
                                        display: true,
                                        labelString: "Dividend",
                                    },
                                    ticks: {
                                        beginAtZero: true
                                    },
                                    gridLines: {
                                        color: primCol,
                                        zeroLineColor: primCol
                                    }
                                }
                            ]
                        },
                    }
                });

                var links = '';
                if (race.event_details_link) {
                    links += '<a href="' + race.event_details_link + '">Race website</a>';
                } else {
                    links += 'Details (none available)';
                }

                links += ' | ';

                if (race.race_results_link) {
                    links += '<a href="' + race.race_results_link + '">External results</a>';
                } else {
                    links += 'External results (not available yet)';
                }
                $("#raceLink").text(links);

                var resultsTitle = '<h3>Results</h3>';
                var table = `<table class="table" id="raceResults">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Runner</th>
                <th scope="col">Time (mm:ss)</th>
                <th scope="col">Dividend per share</th>
            </tr>
        </thead>
        <tbody>
            
        </tbody>
    </table>`;



                // Add rows
                if (response.results) {
                    $("#raceResultsTable").html(resultsTitle + table);
                    response.results.forEach(result => {
                        // console.log(result);
                        var time = moment.duration(result.time);
                        var s = String(time.get('seconds')).padStart(2, '0');

                        var formatted_time = time.minutes() + ":" + s;
                        if (time.hours() > 0) {
                            formatted_time = time.hours() + ":" + formatted_time;
                        }
                        $("#raceResults tbody").append(` <tr>
                <td>` + result.position + `</td>
                <td>` + format_athlete(result.athlete) + `</td>
                <td>` + formatted_time + `</td>
                <td>` + result.dividend + `</td>
                </tr>`);
                    });
                } else {
                    $("#raceResultsTable").html(resultsTitle + '<p>No results yet</p>');


                }

                $('#raceResults').DataTable({
                    paging: false,

                });

                $("#selectedRace").show();
                $("#noRaceSelected").hide();
                MathJax.typeset();
            });
    }

    function hideEventRace() {
        $("#selectedRace").hide();
        $("#selectedEvent").hide();
    }

    $(document).ready(function () {

        setupChartStyles();

        hideEventRace();

        var href = window.location.href;

        trade_id = href.match(/races\/([0-9]+)/i);
        console.log(trade_id);
        if (trade_id) {
            display_race(trade_id[1]);
        }



        $("a.race").click(function (e) {
            $("#noRaceSelected").hide();
            hideEventRace();
            display_race($(this).attr("data-race"));
            $("li.selected").removeClass("selected");
            $(this).parent().addClass("selected");

            window.location.pathname = '/races/' + $(this).attr("data-race");
        })


    });
</script>
{% endblock %}