{% extends 'app/base.html' %}
{% load static %}

{% block title %}Trades{% endblock %}
{% block page_title %}Trades{% endblock %}


{% block content %}

<div class="row">
  <div class="col-sm-12 col-lg-12 col-xl-4">
    <div class="card">
      <div class="card-body">
        <h2 class="card-title">Make a trade</h2>
        <!--<h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>-->
        <p class="card-text">
        <div id="make_trade">
          <form id="formCreateTrade">
            <div class="form-group row">
              <div class="col-sm-6">
                <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" id="buy" name="buysell" value="buy" class="custom-control-input">
                  <label class="custom-control-label" for="buy">Buy</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" id="sell" name="buysell" value="sell" class="custom-control-input" checked>
                  <label class="custom-control-label" for="sell">Sell</label>
                </div>
              </div>
            </div>

            <div class="form-group row">
              <label for="commodity" class="col-sm-4 col-form-label col-form-label">Asset:</label>
              <div class="col-sm-8">

                <button type="button" class="btn btn-primary mb-2" data-toggle="modal"
                  data-target="#createShare">Share</button>

                <button type="button" class="btn btn-primary mb-2" data-toggle="modal"
                  data-target="#createSwap">Swap</button>

                <button type="button" class="btn btn-primary mb-2" data-toggle="modal"
                  data-target="#createOptionFuture">Option/future</button>

                <!-- <div id="commodityEntry"></div> -->
                <input type="text" class="form-control form-control" id="commodityEntry" name="commodityEntry" disabled
                  required>
              </div>
            </div>

            <div class="form-group row" id="tradingPrice" style="display:none;">
              <div class="col-sm-4">Current trading price:</div>
              <div class="col-sm-8" id="currentTradingPriceVal">
              </div>
            </div>

            <div class="form-group row">
              <label for="tradeWith" class="col-sm-4 col-form-label col-form-label">Trade with:</label>
              <div class="col-sm-8">
                <select class="custom-select" name="tradeWith" id="tradeWith">
                  <option selected>Open</option>
                </select>
              </div>
            </div>


            <div class="form-group row">
              <label for="price" class="col-sm-4 col-form-label col-form-label">Price</label>
              <div class="col-sm-8">
                <input type="number" step="0.01" name="price" class="form-control form-control" id="price" required>
              </div>
            </div>

            <div class="form-group row">
              <div class="col-sm-9"></div>
              <div class="col-sm-2">
                <button type="submit" class="btn btn-primary mb-2">Create</button>
              </div>
            </div>

          </form>
        </div>


        </p>

      </div>
    </div>
  </div>
  <div class="col-sm-12 col-lg-12 col-xl-8">
    <div id="right-container">

      <div class="card">
        <div class="card-body">
          <h2 class="card-title">Your active trade requests</h2>

          <p class="card-text">

          <div style="overflow-x: auto;">

            <table class="table active_trades" id="active_trades">
              <thead>
                <tr>
                  <!-- <td scope="col" width="80"></td> -->
                  <th scope="col">Asset</th>
                  <th scope="col">Price</th>
                  <th scope="col">Seller</th>
                  <th scope="col">Buyer</th>
                  <th scope="col">Initiated by</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                <tr class="buyHeader tradeHeader buy">
                  <td scope="col" colspan=7>Buy</td>
                </tr>
                <tr class="noTradesFound buy">
                  <td scope="col" colspan=7>No trades found</td>
                </tr>
                <tr class="sellHeader tradeHeader sell">
                  <td scope="col" colspan=7>Sell</td>
                </tr>
                <tr class="noTradesFound sell">
                  <td scope="col" colspan=7>No trades found</td>
                </tr>
              </tbody>
            </table>
          </div>

          </p>

        </div>
      </div>

    </div>

  </div>
</div>

<div class="row">
  <div class="col-sm-12">

    <div class="card" style="width: 100%; float:left; margin-top:25px">
      <div class="card-body">
        <h2 class="card-title">Trading history</h2>
        <!--<h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>-->
        <p class="card-text">

        <div id="past_trades">
          <table class="table" id="past_trades">
            <thead>
              <tr>
                <td scope="col">Status</td>
                <th scope="col">Asset</th>
                <th scope="col">Price</th>
                <td scope="col">Seller</td>
                <td scope="col">Buyer</td>
                <td scope="col">Initiated by</td>
                <td scope="col">Last updated</td>

              </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
        </div>

        </p>

      </div>
    </div>

  </div>
</div>

<!-- Modal -->
{% include 'app/create-share.html' %}
{% include 'app/create-option-future.html' %}
{% include 'app/create-swap.html' %}


{%endblock%}


{% block footer %}


<script type="text/javascript" src="{% static 'js/trading.js' %}"></script>

<script type="text/javascript">
  function getAttributes($node, name_contains) {
    var attrs = {};
    $.each($node[0].attributes, function (index, attribute) {
      if (attribute.name.includes(name_contains)) {
        attrs[attribute.name] = attribute.value;
      }
    });

    return attrs;
  }

  function getDataAttrString() {
    var ret = "";
    var data_tags = getAttributes($("#commodityEntry"), "data");
    for (var index in data_tags) {
      ret += "&" + index + "=" + data_tags[index];
    }

    return ret;

  }

  $(document).ready(function () {
    console.log('Ready');

    reload_all();
    populateTradeWithSelect();
    populateAthletes('athletesShare');
    populateAthletes('athletesFuture');

    $("#createShare").on('show.bs.modal', function () {
      populateAthletes('athletesShare');
    });

    $("#createOptionFuture").on('show.bs.modal', function () {
      populateAthletes('athletesFuture');
    });

    $("#createSwap").on('show.bs.modal', function () {
      populateAthletes('athletesSwap');
    });


    $("#formCreateTrade").submit(function (e) {

      e.preventDefault(); // avoid to execute the actual submit of the form.

      var form = $(this);

      var formData = form.serialize();

      formData += getDataAttrString();
      formData += "&commodityEntry=" + $("#commodityEntry").val();

      // console.log(data_tags);

      console.log(formData);


      $.ajax({
        type: "GET",
        url: '/create_trade/',
        data: formData, // serializes the form's elements.
        success: function (data) {
          if (data.error) {
            display_error(data.error);
          }
          // alert(data); // show response from the php script.
          reload_all();


          // $('#successCreateTrade').toast('show');
          // // hide after 5 seconds
          // setTimeout(function() { $('#successCreateTrade').toast('hide'); }, 5000);
          successNotif("Trade created succesfully.");
        }
      });


    });

    $(".modalDone").click(function() {
      submitModal($(this));
      return false;
    });
    $("form.createAsset").submit(function() {
      submitModal($(this));
      return false;
    });
      
    function submitModal(obj) {
      console.log("Handled form submit");
           

      if (obj.attr('id') == "createShare") {
        createShareFromModal();
      } else if (obj.attr('id') == "createOptionFuture") {
        console.log("Make option/future");

        var comText = "";
        var option = false
        if ($("input[name=option]:checked").val() == "yes") {
          option = true;
          comText += "Option (holder: " + $("input[name=optionHolder]:checked").val() + "): ";
          $("#commodityEntry").attr("data-asset", "option");
          $("#commodityEntry").attr("data-holder", $("input[name=optionHolder]:checked").val());
        } else {
          comText += "Future: ";
          $("#commodityEntry").attr("data-asset", "future");
        }
        comText =  $("#athletesFuture option:selected").text() + ", volume=" + $("#volume").val();
        comText += ", strike date: " + $("#strikeDate").val();
        $("#commodityEntry").val(comText);

        // $("#commodityEntry").addClass("asset-share");

        var date = new Date($("#strikeDate").val());
        
        $("#commodityEntry").attr("data-athlete", $("#athletesFuture option:selected").val());
        $("#commodityEntry").attr("data-volume", $("#volumeFuture").val());
        $("#commodityEntry").attr("data-date", date.toISOString());
      } else {
        console.log("Don't know how to handle id: " + $(this).attr('id'));
      }

      $("#tradingPrice").show();

      // Get trading price with jquery
      var priceDiv = "#currentTradingPriceVal";
      console.log(getAttributes($("#commodityEntry"), "data"));
      $.ajax({
        type: "GET",
        url: '/asset_price/',  // URL to your view that serves new info
        data: getAttributes($("#commodityEntry"), "data"),
      })
        .done(function (response) {
          console.log(response);
          if (response.error) {

          }

          $(priceDiv).text(response.value);
        });



      $(".createAsset").modal('hide');
      return false;
    }
    
  });

  $("input[name=option]").change(function() {
    console.log($("input[name=option]:checked").val());
    if ($("input[name=option]:checked").val() == "yes") {
      $("#optionHolder").fadeIn();
    } else {
      $("#optionHolder").fadeOut();
    }
  })


</script>
{% endblock %}